<!--分页页脚模板-->
<script id="tpl-pagination" type="text/html"  th:fragment="paginationTemplate">
    <!--
    {{set numLength = 7}}
    <ul class="am-pagination tpl-pagination" id="tpl-pagination" currentPage="{{currentPage}}" totalPages="{{totalPages}}" numLength="{{numLength}}">
        {{if currentPage != 1}}
        <li class="pagination-frist"><a href="javascript:;">首页</a></li>
        <li class="pagination-previous"><a href="javascript:;">«</a></li>
        {{/if}}
        {{if currentPage < numLength/2 && totalPages >= numLength}}
        <% for(var i = 1; i < numLength+1; i++){ %>
        <li class="pagination-number{{if currentPage == i}} am-active{{/if}}"><a href="javascript:;">{{i}}</a></li>
        <% } %>
        {{else if (totalPages-currentPage) > numLength/2 && totalPages > numLength && totalPages > currentPage}}
        <% for(var i = (numLength-1)/2 -1; i > 0 ; i--){ %>
        <li class="pagination-number{{if currentPage == currentPage - i}} am-active{{/if}}"><a href="javascript:;">{{currentPage - i}}</a></li>
        <% } %>
        <% for(var i = 0; i < (numLength-1)/2+1 ; i++){ %>
        <li class="pagination-number{{if currentPage == currentPage + i}} am-active{{/if}}"><a href="javascript:;">{{currentPage + i}}</a></li>
        <% } %>
        {{else if (totalPages-currentPage) < numLength/2 && totalPages >= numLength}}
        <% for(var i = numLength-1; i > -1 ; i--){ %>
        <li class="pagination-number{{if currentPage == totalPages - i}} am-active{{/if}}"><a href="javascript:;">{{totalPages - i}}</a></li>
        <% } %>
        {{else if totalPages < numLength}}
        <% for(var i = 1; i < totalPages+1; i++){ %>
        <li class="pagination-number{{if currentPage == i}} am-active{{/if}}"><a href="javascript:;">{{i}}</a></li>
        <% } %>
        {{/if}}
        {{if totalPages != currentPage && totalPages > 0}}
        <li class="pagination-next"><a href="javascript:;">»</a></li>
        <li class="pagination-end"><a href="javascript:;">最后一页</a></li>
        {{/if}}
    </ul>
    -->
</script>
<!--分页页脚模板-->