<css   th:fragment="loadOnHeadCSS">
    <link th:href="@{/system_assets/css/main/amazeui.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/main/app.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/main/bin.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/validate/validator.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/upload/amazeui.upload.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/system_assets/css/tree/amazeui.tree.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/typeahead/amazeui.tagsinput.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/data_picker/amazeui.datetimepicker.css}" rel="stylesheet" type="text/css" />
    <!--<link th:href="@{/system_assets/css/admin.css}" rel="stylesheet" type="text/css" />-->
    <link th:href="@{/system_assets/css/icon/jquery.fonticonpicker.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/icon/jquery.fonticonpicker.grey.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/icon/jquery.fonticonpicker.inverted.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/system_assets/css/switch/amazeui.switch.css}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" th:href="@{/system_assets/i/favicon.png}" />
    <link rel="apple-touch-icon-precomposed" th:href="@{/system_assets/i/app-icon72x72@2x.png}" />
</css>

