<js th:fragment="loadOnHeadJS">
    <script th:src="@{/system_assets/js/main/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/main/amazeui.min.js}"></script>
</js>

<js th:fragment="onLoadJS">
    <script th:src="@{/system_assets/js/public/bin.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/public/theme.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/public/app.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/validate/jquery.validate.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/validate/validator.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/template/template-web.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/data_picker/amazeui.datetimepicker.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/data_picker/locales/amazeui.datetimepicker.zh-CN.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/tree/amazeui.tree.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/typeahead/bloodhound.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/typeahead/typeahead.jquery.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/typeahead/amazeui.tagsinput.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/upload/amazeui.upload.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/upload/amazeui.upload.template.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/upload/amazeui.upload.event.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/icon/jquery.fonticonpicker.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/switch/amazeui.switch.min.js}" type="text/javascript"></script>
</js>

