<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/head :: onLoadHead(登录页面)">
</head>
<body data-type="login">
	<div th:replace="public/js :: onLoadJS"></div>
	<div th:replace="public/css :: onLoadCSS"></div>
	<!-- 模态提示组件 -->
	<div th:include="public/tips :: Tips"></div>
	<div class="am-g tpl-g">
		<p th:if="${null != errorMsg}" th:text="${errorMsg}" class="am-text-sm" style="color: #b5b5b5">用户名或密码错误，请重试</p> <!-- 2 -->

		<div class="tpl-login">
			<div class="tpl-login-content">
				<div class="tpl-login-logo"></div>

				<form class="am-form tpl-form-line-form"  th:action="@{/login}" action="/login" id="loginFrom" method="POST" data-am-validator>
					<div class="am-form-group">
						<dic:tenant-info id="tenantId" name="tenantId"/>
					</div>

					<div class="am-form-group">
						<input type="text" class="tpl-form-input" id="login_name" name="username" placeholder="请输入账号" required noChinese/>
					</div>

					<div class="am-form-group">
						<input type="password" class="tpl-form-input" id="password" name="password" placeholder="请输入密码" required noChinese/>
					</div>
					
					<div class="am-form-group tpl-login-remember-me">
						<input id="remember-me" name="remember-me" type="checkbox" />
						<label for="remember-me"> 记住我 </label>
					</div>

					<div class="am-form-group">
						<button type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/assets/js/login/login_view.js}" type="text/javascript"></script>
</body>
</html>