<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.onebean.sodium.dao.CodeDatabaseFieldDao" >

    <select id="findAllTableFieldbyTableName" resultType="net.onebean.sodium.model.CodeDatabaseField">
        SELECT COLUMN_NAME as column_name,DATA_TYPE as database_type,COLUMN_COMMENT as annotation,'0' as is_query_param FROM information_schema.COLUMNS
        <where>
            table_schema = #{databaseName} AND table_name = #{tableName};
        </where>
    </select>
</mapper>