<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0neBean-->
<!--description 租户管理 mapper-->
<!--date 2019-02-13 15:05:06-->
<mapper namespace="net.onebean.sodium.dao.TenantInfoDao">

    <select id="isExistTenantInfo" resultType="string" parameterType="string">
        show tables like 'sys_organization_${tenantId}'
    </select>

    <insert id="initTenantDataBaseInfo" parameterType="string">
        <![CDATA[
		  ${sqlStr}
		]]>
    </insert>

    <update id="deleteByTenantIds" parameterType="list">
        UPDATE tenant_info t SET t.is_deleted = '1' WHERE t.tenant_id in
        <foreach collection="tenantIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
        </foreach>
    </update>

</mapper>