<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.onebean.saas.portal.dao.SysRoleUserDao" >
    <delete id="deleteByUserId" parameterType="long">
        update sys_role_user_${tableSuffix} set is_deleted = '1'
          <where>
              sys_user_id = ${userId}
          </where>
    </delete>

    <delete id="deleteByRoleId" parameterType="long">
        update sys_role_user_${tableSuffix} set is_deleted = '1'
        <where>
            sys_role_id = ${roleId}
        </where>
    </delete>

</mapper>